<div class="modal fade" id="confirm-delete" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title text-danger d-flex align-items-center gap-2">
          <i id="confirmDeleteIcon" class="bi bi-exclamation-triangle"></i>
          <span id="confirmDeleteTitle">Confirmar eliminación</span>
        </h5>
        <button
          class="btn-close"
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
        <p id="confirmDeleteText" class="mb-0"></p>
      </div>

      <div class="modal-footer">
        <button
          class="btn rounded-pill btn-secondary"
          data-bs-dismiss="modal">
          Cancelar
        </button>

        <button
          class="btn rounded-pill btn-danger"
          id="btnConfirmDelete">
          Eliminar
        </button>
      </div>

    </div>
  </div>
</div>
