<!-- Buscador -->
<div
  id="moduleSearchContainer"
  class="input-group input-group-sm rounded-pill overflow-hidden border"
>
  <span class="input-group-text bg-primary text-white border-0 px-3">
    <i class="bi bi-search"></i>
  </span>
  <input
    type="text"
    id="moduleSearchInput"
    class="form-control border-0 rounded-0"
    placeholder="Buscar..."
  />
  <button
    class="btn btn-link btn-sm text-muted border-0 px-2 d-none"
    id="moduleClearSearch"
    type="button"
  >
    <i class="bi bi-x-circle"></i>
  </button>
</div>
