<!-- Modal escáner (cámara) - componente reutilizable -->
<div class="modal fade" id="scannerModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="scannerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scannerModalTitle">Escanear código de barras o QR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body p-2 d-flex justify-content-center align-items-start">
        <div id="scanner-container" style="width: 100%; max-width: 400px;"></div>
      </div>
    </div>
  </div>
</div>
